
<h2 class="text-center">To-Do-List</h2>
<div class="container">
  <hr>
  


  <span class="clerfix"></span>
  <hr>
  <table class="table table-striped">
    
      <tr>
        <th>TaskName</th>
        
        <th>Date</th>
        <th>List</th>
        <th>Delete</th>
        
        
      </tr>
       <tr ng-repeat = "task in todoTasks |filter: {is_complete : false}"> 
        <td>{{task.name}}</td>
      <td>{{task.date}}</td>
      <td><a  ng-click="completeTak(task)">complete</a> 
      <td><a ng-click="deletetask(task)">Delete</a></td>
        <td>
    
        
        </tr> 
        
      </tr>  
    
  </table>
  <br>
 


  <button  type="submit" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal"  ng-click="completeList()">complete list </button>

  <button  type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal" ng-click="newtask()" style="margin-right:10px;">Add New</button>





</div>
 












