
<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
   
<form name="userForm">
  <div>
            <label for="userName">Username</label>
      <input type="text" id= "userName" name= "userName" class="form-control" ng-model="user.userName" ng-pattern = "/[a-zA-Z]/"   required /></br>
          <div ng-messages = "user.userName.$error">
            <div ng-message = "required"> Name is required</div>
              <div ng-message = "pattern"> Name is invalid</div>
                </div></br>


                <div class="form-group" ng-class="{ 'has-error': user.password.$dirty && user.password.$error.required }">


            <label for="password">Password</label>
  <input type="password" id="password" name="password"  class="form-control"  ng-model="user.password" required/></br>





    <div ng-messages = "user.password.$error">
      <div ng-message = "required">Password is required</div><br/>
      </div>
        </div>
          <button ng-click="login(user)" class="btn btn-primary">Login</button>
            <button ng-click="register()" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </nav>

